// Colors
$text: #1b2539;
$text-muted: rgba($text, 0.7);

$theme: #0667b3;
$theme_light: #ecf7f2;

$yellow: #ffbd2d;
$pink: #fe66a1;
$red: #fe6057;
$purple: #9d66fe;

$light_mode_border: #f8f8f8;
$light_mode_border_darken: #e8e9eb;

$danger: #fd397a;
$light_text: #a4adb6;
$light_background: #f4f5f6;
$dark_background: #ebebeb;
$shadow: 0 7px 25px 1px rgba(0, 0, 0, 0.12);

$light_mode_input_background: hsla(210, 10%, 98%, 1);
$light_mode_popup_shadow: 0 2px 40px rgba(26, 38, 74, 0.12);
$light_mode_vignette: rgba(9, 8, 12, 0.35);

// Dark Mode
$dark_mode_vignette: rgba(0, 0, 0, 0.3);
$dark_mode_background: #f4f5f6;
$dark_mode_foreground: #f4f5f6;
$dark_mode_text_primary: #1b2539;
$dark_mode_text_secondary: #7d858c;
$dark_mode_vignette: rgba(9, 8, 12, 0.35);
$dark_mode_popup_shadow: 0 2px 40px rgba(26, 38, 74, 0.12);
$dark_mode_border_color: rgba(255, 255, 255, 0.02);
